@import './variables.scss';

html {
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px so we can use rem in the rest of the scss */
}

html,
body {
  padding: 3rem 0 0 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $color-x-light;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  color: #222;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  color: $color-primary;
}

p {
  color: #666;
}

a {
  color: $color-primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
