$color-x-dark: #191716;
$color-dark: #2a4494;
$color-primary: #058ed9;
$color-light: #44cfcb;
$color-x-light: #ebe9e9;

$gradient-primary: linear-gradient(146deg, #058ed9 40%, #44cfcb 100%) no-repeat 50% 50% /
  100% 100%;
